:root {
  --color-one: #4a4e69;
  --color-two: #c9ada7;
  --color-three: #ea5455;
  --color-four: #f7b32b;
  --color-five: #2a9d8f;
  --grey-4: rgba(0, 0, 0, 0.92);
  --grey-3: #212529;
  --grey-2: #343b41;
  --grey-1: #868e96;
  --grey-0: #f8f9fa;
  --success: #00ff00;
  --negative: #ff0000;

  --font-title-0: 700 2rem/1.2 "Inter", sans-serif;
  --font-title-1: 700 1.5rem/1.2 "Inter", sans-serif;
  --font-title-2: 700 1.25rem/1.2 "Inter", sans-serif;
  --font-title-3: 700 1rem/1.2 "Inter", sans-serif;
  --font-text-0: 400 1.2rem/1.2 "Inter", sans-serif;
  --font-text-1: 400 0.875rem/1.2 "Inter", sans-serif;
  --font-text-2: 700 0.875rem/1.2 "Inter", sans-serif;
  --font-text-3: 400 0.75rem/1.2 "Inter", sans-serif;
  --radius-1: 5px;
  --radius-2: 10px;
}